gateway/MPC_nodered.json
[
    {
        "id": "cba0c3b5b8568f89",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ddea886c3ba7790",
        "type": "serial in",
        "z": "cba0c3b5b8568f89",
        "name": "0",
        "serial": "e8ac9bf3d52fa0f7",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "d87bfbd0caa05eed",
                "cfc78bba62d9f587"
            ]
        ]
    },
    {
        "id": "15211d18d5548628",
        "type": "comment",
        "z": "cba0c3b5b8568f89",
        "name": "Récupération du sensor / split data et insert dans postgresql",
        "info": "",
        "x": 800,
        "y": 460,
        "wires": []
    },
    {
        "id": "7ce810bfc08b1da0",
        "type": "function",
        "z": "cba0c3b5b8568f89",
        "name": "function_split_time_data",
        "func": "var rehash = {};\nrehash.time = \"'\" + msg.payload.time + \"+00'\";\nrehash.data = \"'\" + JSON.stringify(msg.payload) + \"'\";\nmsg.payload = rehash\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 260,
        "wires": [
            [
                "d87bfbd0caa05eed",
                "482a965c2a11b182"
            ]
        ]
    },
    {
        "id": "482a965c2a11b182",
        "type": "postgresql",
        "z": "cba0c3b5b8568f89",
        "name": "insert to postgresql",
        "query": "--Insert Cyclopee sensor  data\ndo $$\nbegin\n    INSERT INTO cyclopee.sensor (time,data) VALUES \n    ( \n    {{{msg.payload.time}}},  \n    {{{msg.payload.data}}}\n    );\n    COMMIT;\nend $$",
        "postgreSQLConfig": "3660cf129311ca49",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 850,
        "y": 320,
        "wires": [
            [
                "d87bfbd0caa05eed"
            ]
        ]
    },
    {
        "id": "d87bfbd0caa05eed",
        "type": "debug",
        "z": "cba0c3b5b8568f89",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 220,
        "wires": []
    },
    {
        "id": "cfc78bba62d9f587",
        "type": "json",
        "z": "cba0c3b5b8568f89",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "7ce810bfc08b1da0",
                "d87bfbd0caa05eed"
            ]
        ]
    },
    {
        "id": "4102408347e5479f",
        "type": "serial in",
        "z": "cba0c3b5b8568f89",
        "name": "1",
        "serial": "52f144220523204c",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "cfc78bba62d9f587"
            ]
        ]
    },
    {
        "id": "e8ac9bf3d52fa0f7",
        "type": "serial-port",
        "serialport": "/dev/rfcomm0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "3660cf129311ca49",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "localhost",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "mpc",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "geopoppy",
        "passwordFieldType": "str"
    },
    {
        "id": "52f144220523204c",
        "type": "serial-port",
        "serialport": "/dev/rfcomm1",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]
